In [1]:
import pandas as pd
import pandas_gbq
import numpy as np
from sqlalchemy import create_engine

# Transform data 
### this is intended to add new data from raw data of master product cluster to db, adjusting the schema and format value

## Load data master product cluster

In [2]:
df = pd.read_csv("Mapping Mastered Product - Pareto Cluster (UPDATED 3_7).csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2052 entries, 0 to 2051
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2052 non-null   int64
 1   cluster              2052 non-null   int64
 2   name                 2052 non-null   object
 3   master_product       530 non-null    object
 4   quantity             2052 non-null   int64
 5   volume               1306 non-null   float64
 6   weight               947 non-null    float64
 7   master_product_fill  206 non-null    object
 8   price                2052 non-null   int64
 9   weight_raw           2052 non-null   int64
 10  description          1986 non-null   object
 11  name_description     2052 non-null   object
 12  re_volume            1306 non-null   object
 13  re_weight            947 non-null    object
 14  re_quantity          805 non-null    object
 15  sub_category         2052 non-null   object
 16  main_category        2052 non-null   object
 17  url                  2052 non-null   object
 18  alias                2052 non-null   object
 19  shop_id              2052 non-null   int64
 20  strike_price         2052 non-null   int64
 21  discount             2052 non-null   int64
 22  menu_id              2052 non-null   int64
 23  menu_name            1446 non-null   object
 24  min_order            2052 non-null   int64
 25  max_order            2052 non-null   int64
 26  condition            2052 non-null   object
 27  stock                2052 non-null   int64
 28  sold                 2052 non-null   int64
 29  transactions         2052 non-null   int64
 30  view_count           2052 non-null   int64
 31  review_count         2052 non-null   int64
 32  rating               2052 non-null   float64
 33  talk_count           2052 non-null   int64
 34  created_at           2052 non-null   object
 35  updated_at           2052 non-null   object
 36  revenue              2052 non-null   int64
dtypes: float64(3), int64(18), object(16)
memory usage: 593.3+ KB

In [4]:
df.head()

,id,cluster,name,master_product,quantity,volume,weight,master_product_fill,price,weight_raw,...,stock,sold,transactions,view_count,review_count,rating,talk_count,created_at,updated_at,revenue
0,522892579,0,ANLENE GOLD VANILA 600 GR,Anlene Gold Vanila Milk Powder 51 Years,1,NaN,600.0,Anlene Gold Vanila Milk Powder 51 Years 600 g,88000,900,...,6,207,158,3706,96,4.9,7,2021-06-16 04:52:53 UTC,2021-06-16 04:52:53 UTC,18216000
1,538926472,0,Entrasol Gold 51+ Vanila 600g,NaN,1,NaN,600.0,NaN,88000,800,...,6,209,87,2464,26,5.0,11,2021-06-16 04:52:53 UTC,2021-06-16 04:52:53 UTC,18392000
2,1094382805,0,ENTRASOL GOLD 600 GR VANILA - Vanila,NaN,1,200.0,600.0,NaN,95000,800,...,992,369,191,4062,92,5.0,11,2021-06-16 04:52:53 UTC,2021-06-16 04:52:53 UTC,35055000
3,1843910063,0,Entrasol Gold 600 gr Vanila Coklat - Susu Lans...,NaN,1,NaN,600.0,NaN,89900,1000,...,1999,1115,820,6992,528,4.9,11,2021-06-16 04:52:53 UTC,2021-06-16 04:52:53 UTC,100238500
4,986604415,0,entrasol gold 600 gram - Vanila,NaN,1,NaN,600.0,NaN,89200,1000,...,40,684,471,3369,277,4.9,10,2021-06-16 04:52:53 UTC,2021-06-16 04:52:53 UTC,61012800

## Compare with master product db

In [14]:
con_db = create_engine('mysql+pymysql://foodid:foodnetwork@127.0.0.1:3308/food')
con_db.connect()

In [15]:
# backup last data
# df_bc = pd.read_sql("SELECT * FROM food.master_product_clusters", con=con_db)

In [16]:
# df_bc.to_csv("master_product_cluster_backup_1.csv", index=False)

In [17]:
df_m = pd.read_sql("SELECT id, name FROM food.master_products where is_deleted=0", con=con_db)

In [18]:
df_m = df_m.rename(columns={'id':'master_product_id', 'name':'master_product'})

In [19]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   master_product_id  632 non-null    int64
 1   master_product     632 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.0+ KB

In [20]:
df_m.head()

   master_product_id                         master_product
0                  0                   Empty Master Product
1               1497  Abbott Ensure Powdered Chocolate Milk
2               1498    Abbott Ensure Powdered Vanilla Milk
3               1499             Acticor Avocado Milk Drink
4               1500          Acticor Chocolate Milk Drinks

In [21]:
df_m.duplicated().any()

False

## merge two sources table

In [59]:
# merge product_master_cluster with product_master to get master_product_id

In [36]:
df_new = df.copy()

In [37]:
df_new = df_new[['id','cluster','name','master_product']]

In [38]:
df_new_m = pd.merge(df_new, df_m, how="left", on="master_product")

In [39]:
df_new_m

,id,cluster,name,master_product,master_product_id
0,522892579,0,ANLENE GOLD VANILA 600 GR,Anlene Gold Vanila Milk Powder 51 Years,1515.0
1,538926472,0,Entrasol Gold 51+ Vanila 600g,NaN,NaN
2,1094382805,0,ENTRASOL GOLD 600 GR VANILA - Vanila,NaN,NaN
3,1843910063,0,Entrasol Gold 600 gr Vanila Coklat - Susu Lans...,NaN,NaN
4,986604415,0,entrasol gold 600 gram - Vanila,NaN,NaN
...,...,...,...,...,...
2498,459825921,199,TSUKUBA ALMOND MILK 10 1000 ML,NaN,NaN
2499,459825050,199,TSUKUBA ROAST ALMOND MILK 10 1000ML,NaN,NaN
2500,825916894,200,UNISOY SOYA MILK - SUGAR FREE - LESS SUGAR,NaN,NaN
2501,210976808,200,Unisoy Soya Milk Powder (Low Sugar),NaN,NaN
2502,210981661,200,Unisoy Soya Milk Powder (Sugar Free),NaN,NaN

In [40]:
# df_new_m["index"].duplicated().any()

In [41]:
# drop to get unique id (if each product should be unique)
df_new_m = df_new_m.drop_duplicates(subset="id")

In [42]:
len(df_new_m)

2052

In [43]:
len(df_new_m.loc[df_new_m.master_product.notnull()])

530

# add status

In [ ]:
# add master product status id
## if the master product cluster doesn't have master product id then the status id is 1, while 2

In [44]:
df_new_m["master_product_status_id"] = 1
df_new_m.loc[df_new_m.master_product_id.notnull(), "master_product_status_id"] = 2

<ipython-input-44-e9c20500daec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new_m["master_product_status_id"] = 1
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

## Preview

In [45]:
df_new_m

,id,cluster,name,master_product,master_product_id,master_product_status_id
0,522892579,0,ANLENE GOLD VANILA 600 GR,Anlene Gold Vanila Milk Powder 51 Years,1515.0,2
1,538926472,0,Entrasol Gold 51+ Vanila 600g,NaN,NaN,1
2,1094382805,0,ENTRASOL GOLD 600 GR VANILA - Vanila,NaN,NaN,1
3,1843910063,0,Entrasol Gold 600 gr Vanila Coklat - Susu Lans...,NaN,NaN,1
4,986604415,0,entrasol gold 600 gram - Vanila,NaN,NaN,1
...,...,...,...,...,...,...
2498,459825921,199,TSUKUBA ALMOND MILK 10 1000 ML,NaN,NaN,1
2499,459825050,199,TSUKUBA ROAST ALMOND MILK 10 1000ML,NaN,NaN,1
2500,825916894,200,UNISOY SOYA MILK - SUGAR FREE - LESS SUGAR,NaN,NaN,1
2501,210976808,200,Unisoy Soya Milk Powder (Low Sugar),NaN,NaN,1
2502,210981661,200,Unisoy Soya Milk Powder (Sugar Free),NaN,NaN,1

In [46]:
# adjust name with db schema
df_new_m = df_new_m.rename(columns={"id":"product_source_id", "cluster":"cluster_id"})

In [47]:
# adjust data with db schema
df_new_m = df_new_m[["cluster_id", "product_source_id", "master_product_id", "master_product_status_id"]]

In [48]:
df_new_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2052 entries, 0 to 2502
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cluster_id                2052 non-null   int64
 1   product_source_id         2052 non-null   int64
 2   master_product_id         513 non-null    float64
 3   master_product_status_id  2052 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 80.2 KB

In [49]:
df_new_m.head()

   cluster_id  product_source_id  master_product_id  master_product_status_id
0           0          522892579             1515.0                         2
1           0          538926472                NaN                         1
2           0         1094382805                NaN                         1
3           0         1843910063                NaN                         1
4           0          986604415                NaN                         1

In [60]:
# check total cluster
len(df_new_m.cluster_id.unique())

201

# Upload to db
### after the schema is adjusted and know what value should be uploaded

In [61]:
# add data for master_product_clusters table where the schema has upload cluster_id, product_source_id, master_product_id, and master_product_status_id

In [51]:
df_new_m.to_sql("master_product_clusters", con_db, schema="food", if_exists="append", index=False)

In [50]:
# check data manualy in csv
# df_new_m.to_csv("check_new_master_product_cluster.csv", index=False)

## Upload to histories cluster table

In [ ]:
# uploadd data to master_product_status_histories table related to product_master_cluster that already uploaded
# add data for master_product_status_histories table where the schema has upload master_product_cluster_id, previous and current_status_id

In [52]:
# get master_product_cluster_id first, with query that filtering date same with same current date (if the new data of master_product_table has uploaded in the same day)
df_fh = pd.read_sql("SELECT id, master_product_status_id FROM food.master_product_clusters WHERE DATE(created_at) = CURRENT_DATE()", con=con_db)

In [53]:
df_fh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2052 entries, 0 to 2051
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        2052 non-null   int64
 1   master_product_status_id  2052 non-null   int64
dtypes: int64(2)
memory usage: 32.2 KB

In [54]:
# copy same status value for column current status
df_fh["current_status_id"] = df_fh["master_product_status_id"]

In [55]:
# adjust name with schema
df_fh = df_fh.rename(columns={"id":"master_product_cluster_id", "master_product_status_id":"previous_status_id"})

In [56]:
df_fh.head()

   master_product_cluster_id  previous_status_id  current_status_id
0                        794                   2                  2
1                        795                   1                  1
2                        796                   1                  1
3                        797                   1                  1
4                        798                   1                  1

In [57]:
df_fh.to_sql("master_product_status_histories", con_db, schema="food", if_exists="append", index=False)